{%extends 'base.html'%}
{% load static %}
{% block myblock %}
<div class="row">
    <div class="col-md-12 px-0">
        <img src="{% static 'images/nature.jpg' %}" height="300">
    </div>
    <div class="col-md-12">
        <h1>This About Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt similique modi aspernatur doloremque porro sapiente atque ducimus mollitia totam, quae, enim in accusamus recusandae! Incidunt rem ex illo non!
        </p>
    </div>
</div>
{% endblock %}
